__pycache__
*.sh
*/env/*
*.out
config.py
.DS_Store
generate_wordcloud_old.py
generate_wordcloud_older.py
removeSpams.py
removeTweets.py
test.png
text.py
27-07-2017_17_11.png
arastuq.txt
IRANSans.ttf
nltk.txt
env/